* {
    font-size: 13px;   
    font-family: "FontAwesome", "Red Hat Mono", monospace;
}


window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    background-color: rgba(43, 48, 59, 0.75);
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 8px;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 6px;
}

.modules-center,
.modules-right {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

#workspaces,
#custom-media {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

#workspaces {
    margin-right: 6px;
}

#workspaces button {
    padding: 0 4px;
    background-color: transparent;
    color: #ffffff;
    border-radius: 6px;
}

#workspaces button.persistent {
    background-color: transparent;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window {
    margin: 0 4px;
}

#custom-media,
#cpu,
#memory,
#temperature,
#pulseaudio,
#network,
#battery,
#tray,
#clock {
    padding: 0 6px;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    background-color: rgba(56, 255, 155, 0.5);
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: rgba(245, 60, 60, 0.5);
    color: #ffffff;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#network.disconnected {
    background-color: #f53c3c;
}

#custom-media {
    min-width: 100px;
    padding: 0 12px;
}

#custom-media.custom-spotify {
    background-color: rgba(102, 204, 153, 0.5);
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    padding-left: 0;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
